<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="./index.html" class="btn">Introduction</a>
  <a href="./high-level.html" class="btn">High Level Design</a>
  <a href="./software.html" class="btn">Software Design</a>
  <a href="./hardware.html" class="btn">Hardware Design</a>
  <a href="./results.html" class="btn">Results</a>
  <a href="./conclusions.html" class="btn">Conclusions</a>
  <a href="./appendix.html" class="btn">Appendices</a>

</section>
